.parentGrind {
  /* width: 100%; */
  background: #05283e;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 22px;
  padding: 12px 0px 12px 28px;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 150px;
}

.parentGrind .chooseus {
  font-size: 16px;
  font-weight: bold;
  font-stretch: expanded;
  letter-spacing: 0.1em;
  color: #10a0bd;
}

.parentGrind .chooseusHeading {
  font-size: 27px;
  font-weight: bold;
  font-stretch: expanded;
  word-spacing: 1px;
}

.parentGrind .chooseustext {
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.parentGrind .chooseusPara {
  color: #8e92a4;
  padding-top: 8px;
}

.parentGrind .image {
  border-radius: 4px 4px 4px 4px;
  width: 100%;
  height: auto;
  object-fit: cover;
}